<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Font Definitions */
      @font-face {
        font-family: 宋体;
      }
      @font-face {
        font-family: 'Cambria Math';
        panose-1: 2 4 5 3 5 4 6 3 2 4;
      }
      @font-face {
        font-family: Calibri;
        panose-1: 2 15 5 2 2 2 4 3 2 4;
      }
      @font-face {
        font-family: 仿宋;
      }
      @font-face {
        font-family: '\@宋体';
      }
      @font-face {
        font-family: '\@仿宋';
      }
      @font-face {
        font-family: SSJ-PK74820000001-Identity-H;
      }
      @font-face {
        font-family: '\@SSJ-PK74820000001-Identity-H';
      }
      /* Style Definitions */
      p.MsoNormal,
      li.MsoNormal,
      div.MsoNormal {
        margin: 0cm;
        margin-bottom: 0.0001pt;
        text-align: justify;
        text-justify: inter-ideograph;
        font-size: 10.5pt;
        font-family: 'Calibri', sans-serif;
        line-height: 22pt;
      }
      p.MsoHeader,
      li.MsoHeader,
      div.MsoHeader {
        margin: 0cm;
        margin-bottom: 0.0001pt;
        text-align: center;
        layout-grid-mode: char;
        border: none;
        padding: 0cm;
        font-size: 9pt;
        font-family: 'Calibri', sans-serif;
      }
      p.MsoFooter,
      li.MsoFooter,
      div.MsoFooter {
        margin: 0cm;
        margin-bottom: 0.0001pt;
        layout-grid-mode: char;
        font-size: 9pt;
        font-family: 'Calibri', sans-serif;
      }
      p.MsoAcetate,
      li.MsoAcetate,
      div.MsoAcetate {
        margin: 0cm;
        margin-bottom: 0.0001pt;
        text-align: justify;
        text-justify: inter-ideograph;
        font-size: 9pt;
        font-family: 'Calibri', sans-serif;
      }
      p.MsoNoSpacing,
      li.MsoNoSpacing,
      div.MsoNoSpacing {
        margin: 0cm;
        margin-bottom: 0.0001pt;
        font-size: 11pt;
        font-family: 'Calibri', sans-serif;
      }
      span.ctiao1 {
        font-family: 宋体;
        font-weight: bold;
      }
      span.a2 {
        font-family: 'Calibri', sans-serif;
      }
      .MsoChpDefault {
        font-size: 10pt;
        font-family: 'Calibri', sans-serif;
      }
      /* Page Definitions */
      @page Section1 {
        size: 595.3pt 841.9pt;
        margin: 3cm 65.2pt 3cm 3cm;
      }
      div.Section1 {
        page: Section1;
      }
    </style>
  </head>

  <body lang="ZH-CN" style="text-justify-trim:punctuation">
    <div class="Section1">
      <p
        class="MsoNormal"
        style="margin-right:-23.4pt;line-height:60.0pt;text-align:center;text-justify:
      distribute-all-lines"
      >
        <b
          ><span style="font-size:24.0pt;font-family:宋体;color:black"
            >福</span
          ></b
        ><b><span style="font-size:24.0pt;color:black"> </span></b
        ><b
          ><span
            style="font-size:
        24.0pt;font-family:宋体;color:black"
            >建</span
          ></b
        ><b
          ><span
            style="font-size:24.0pt;
        color:black"
          >
          </span></b
        ><b
          ><span
            style="font-size:24.0pt;font-family:宋体;
        color:black"
            >省</span
          ></b
        ><b><span style="font-size:24.0pt;color:black"> </span></b
        ><b
          ><span style="font-size:24.0pt;font-family:宋体;color:black"
            >厦</span
          ></b
        ><b><span style="font-size:24.0pt;color:black"> </span></b
        ><b
          ><span
            style="font-size:
        24.0pt;font-family:宋体;color:black"
            >门</span
          ></b
        ><b
          ><span
            style="font-size:24.0pt;
        color:black"
          >
          </span></b
        ><b
          ><span
            style="font-size:24.0pt;font-family:宋体;
        color:black"
            >市</span
          ></b
        ><b><span style="font-size:24.0pt;color:black"> </span></b
        ><b
          ><span style="font-size:24.0pt;font-family:宋体;color:black"
            >海</span
          ></b
        ><b><span style="font-size:24.0pt;color:black"> </span></b
        ><b
          ><span
            style="font-size:
        24.0pt;font-family:宋体;color:black"
            >沧</span
          ></b
        ><b
          ><span
            style="font-size:24.0pt;
        color:black"
          >
          </span></b
        ><b
          ><span
            style="font-size:24.0pt;font-family:宋体;
        color:black"
            >区</span
          ></b
        ><b><span style="font-size:24.0pt;color:black"> </span></b
        ><b
          ><span style="font-size:24.0pt;font-family:宋体;color:black"
            >人</span
          ></b
        ><b><span style="font-size:24.0pt;color:black"> </span></b
        ><b
          ><span
            style="font-size:
        24.0pt;font-family:宋体;color:black"
            >民</span
          ></b
        ><b
          ><span
            style="font-size:24.0pt;
        color:black"
          >
          </span></b
        ><b
          ><span
            style="font-size:24.0pt;font-family:宋体;
        color:black"
            >法</span
          ></b
        ><b><span style="font-size:24.0pt;color:black"> </span></b
        ><b
          ><span style="font-size:24.0pt;font-family:宋体;color:black"
            >院</span
          ></b
        >
      </p>

      <p
        class="MsoNormal"
        align="center"
        style="text-align:center;line-height:60.0pt"
      >
        <b
          ><span style="font-size:36.0pt;font-family:宋体;color:black"
            >支</span
          ></b
        ><b><span style="font-size:36.0pt;color:black"> </span></b
        ><b
          ><span
            style="font-size:
        36.0pt;font-family:宋体;color:black"
            >付</span
          ></b
        ><b
          ><span
            style="font-size:36.0pt;
        color:black"
          >
          </span></b
        ><b
          ><span
            style="font-size:36.0pt;font-family:宋体;
        color:black"
            >令</span
          ></b
        >
      </p>

      <p
        class="MsoNormal"
        align="right"
        style="margin-right:21.0pt;text-align:right;
      text-autospace:none"
      >
        <span lang="EN-US" style="font-size:16.0pt;font-family:仿宋"
          >&nbsp;</span
        >
      </p>

      <p
        class="MsoNormal"
        align="right"
        style="margin-right:21.0pt;text-align:right;
      text-autospace:none"
      >
        <span style="font-size:16.0pt;font-family:仿宋;">#（立案庭案号）</span>
      </p>

      <p
        class="MsoNormal"
        align="right"
        style="margin-right:21.0pt;text-align:right;
      text-autospace:none"
      >
        <span lang="EN-US" style="font-size:16.0pt;font-family:仿宋"
          >&nbsp;</span
        >
      </p>

      <p class="MsoNormal" style="text-indent:32.0pt;layout-grid-mode:char">
        <span style="font-size:16.0pt;font-family:仿宋"
          >申请人：厦门友盾科技有限公司，住所地福建省厦门市海沧区兴港一里<span
            lang="EN-US"
            >280</span
          >号<span lang="EN-US">702-1</span>室，统一社会信用代码<span
            lang="EN-US"
            >91350205MA32JAHU9M</span
          >。</span
        >
      </p>

      <p class="MsoNormal" style="text-indent:32.0pt;layout-grid-mode:char">
        <span style="font-size:16.0pt;font-family:仿宋"
          >法定代表人：刘震涛，执行董事。</span
        >
      </p>

      <p class="MsoNormal" style="text-indent:32.0pt;layout-grid-mode:char">
        <span style="font-size:16.0pt;font-family:仿宋"
          >委托代理人：杜荣园，男，该公司工作人员。</span
        >
      </p>

      <p class="MsoNormal" style="text-indent:32.0pt;layout-grid-mode:char">
        <span style="font-size:16.0pt;font-family:仿宋"
          >被申请人：#（被申请人姓名），#（性别），#（出生日期）出生，#（民族）族，住#（地址），公民身份号码#（身份证号）。</span
        >
      </p>

      <p class="MsoNormal" style="text-indent:32.0pt;layout-grid-mode:char">
        <span style="font-size:16.0pt;font-family:仿宋"
          >申请人厦门友盾科技有限公司（以下简称“友盾公司”）于#（立案日期）向本院申请支付令。申请人友盾公司称，</span
        ><span lang="EN-US" style="font-size:16.0pt;font-family:仿宋">2018</span
        ><span
          style="font-size:16.0pt;
font-family:仿宋"
          >年<span lang="EN-US">6</span>月<span lang="EN-US">1</span
          >日，厦门银行股份有限公司（以下简称“厦门银行”）、厦门趣店科技有限公司、趣分期（赣州）信息技术有限公司签订了一份协议编号为<span
            lang="EN-US"
            >XMQD2018-1</span
          >《趣店<span lang="EN-US">-</span
          >厦门银行消费贷款合作协议》，就个人消费贷款业务进行合作。厦门银行与陕西天乙融资担保有限公司（以下简称“天乙公司”）签订编号为<span
            lang="EN-US"
            >XMTY20181106</span
          >质《保证金质押合同》，为担保“趣店<span lang="EN-US">-</span
          >厦门银行项目”项下债务人与厦门银行签订的借款合同的履行，保障厦门银行债权的实现，天乙公司自愿为债务人与厦门银行依据借款合同约定所形成的债务提供保证金质押担保。</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;color:black"
          >#（合同起始日期）</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >，被申请人<span
            lang="EN-US"
            style="color:
black"
            >#（被申请人姓名）</span
          >通过来分期平台系统与厦门银行在线签订了《个人借款合同》，借款金额为</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;color:black"
          >#（合同金额）</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >元（人民币，下同），借款期限自</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;color:black"
          >#（合同起始日期）</span
        ><span style="font-size:16.0pt;font-family:仿宋">起至</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;color:black"
          >#（合同结束日期）</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >止，借款用途为网上购物，借款利率为年利率<span
            lang="EN-US"
            style="color:black"
            >#（年利率）</span
          ><span lang="EN-US">%</span
          >，还款方式为每月等额本息。厦门银行在合同生效后向被申请人<span
            lang="EN-US"
            style="color:black"
            >#（被申请人姓名）</span
          >发放了借款</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;color:black"
          >#（合同金额）</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >元，被申请人<span lang="EN-US" style="color:black"
            >#（被申请人姓名）</span
          >分<span lang="EN-US" style="color:black">#（分期期数）</span
          >期还款，每月应还款#（月供）元。</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;
font-family:仿宋;color:black"
          >#（合同起始日期）</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >，被申请人<span lang="EN-US" style="color:black"
            >#（被申请人姓名）</span
          >通过来分期平台系统与天乙公司签订了《委托保证合同》，约定天乙公司为被申请人<span
            lang="EN-US"
            style="color:black"
            >#（被申请人姓名）</span
          >向厦门银行申请的上述借款以连带责任保证的方式提供担保。天乙公司履行保证责任代被申请人<span
            lang="EN-US"
            style="color:black"
            >#（被申请人姓名）</span
          >向贷款人清偿债务后，对被申请人<span lang="EN-US" style="color:black"
            >#（被申请人姓名）</span
          >拥有追偿权，有权要求被申请人<span lang="EN-US" style="color:black"
            >#（被申请人姓名）</span
          >归还天乙公司为履行本合同项下连带保证担保责任而代为向贷款人垫付的全部款项和自垫付之日起以每日千分之一的费率计算的上述款项产生的资金占用成本以及由此给天乙公司造成的一切损失和其他费用支出（包括但不限于调查费、诉讼费、仲裁费、公证费、财产保全费、律师费、差旅费、执行费、评估费、拍卖费等款项）；本合同发生争议或纠纷，双方当事人可以通过协商解决，协商不成的，任何一方均可向合同履行地法院诉讼<span
            lang="EN-US"
            >(</span
          >含申请支付令、电子支付令<span lang="EN-US">)</span
          >，如天乙公司债权转让的，债权受让方所在地即为合同履行地。因被申请人<span
            lang="EN-US"
            style="color:black"
            >#（被申请人姓名）</span
          >未依约还款，厦门银行依据《保证金质押合同》约定，于</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;color:black"
          >#（代偿日期）</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >从天乙公司质押保证金扣划了被申请人<span
            lang="EN-US"
            style="color:black"
            >#（被申请人姓名）</span
          >尚欠的借款本息</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;color:black"
          >#（代偿金额）</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >元，即天乙公司代被申请人<span lang="EN-US" style="color:black"
            >#（被申请人姓名）</span
          >向厦门银行清偿欠款本息</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;color:black"
          >#（代偿金额）</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >元，其中代偿借款本金<span lang="EN-US" style="color:black"
            >#（代偿借款本金）</span
          >元。被申请人<span lang="EN-US" style="color:black"
            >#（被申请人姓名）</span
          >在申请人代偿之日后，已还代偿借款本金<span
            lang="EN-US"
            style="color:black"
            >#（已还代偿借款本金）元</span
          >，未还代偿借款本金</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;color:black"
          >#（申请标的）元</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >。<span lang="EN-US">2019</span>年<span lang="EN-US">3</span>月<span
            lang="EN-US"
            >13</span
          >日，天乙公司与厦门趣催催科技有限公司签署了《债权转让协议》，将其对被申请人<span
            lang="EN-US"
            style="color:black"
            >#（被申请人姓名）</span
          >的追偿权以及资金占用成本等追索权一并转让给了趣催催公司，趣催催公司合法获得了天乙公司的上述债权。<span
            lang="EN-US"
            >2019</span
          >年<span lang="EN-US">3</span>月<span lang="EN-US">21</span
          >日，厦门市海沧区市场监督管理局准予趣催催公司名称变更登记，更名为厦门友盾科技有限公司。</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >故申请人友盾公司要求</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >被申请人<span lang="EN-US" style="color:black"
            >#（被申请人姓名）</span
          >给付申请人剩余未还代偿借款本金</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;color:black"
          >#（申请标的）</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >元及资金占用费（资金占用费以剩余未还代偿借款本金</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;color:black"
          >#（申请标的）</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >元为基数，按年利率<span lang="EN-US">24%</span>的标准，自</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;color:black"
          >#（代偿日期）</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >起计算至实际还款之日止）。</span
        >
      </p>

      <p class="MsoNormal" style="text-indent:32.0pt;layout-grid-mode:char">
        <span style="font-size:16.0pt;font-family:仿宋"
          >本院经审查认为，申请人的申请符合民事诉讼法规定的条件。</span
        >
      </p>

      <p class="MsoNormal" style="text-indent:32.0pt;layout-grid-mode:char">
        <span style="font-size:16.0pt;font-family:仿宋"
          >依照《中华人民共和国民事诉讼法》第二百一十四条、第二百一十六条规定，特发出如下支付令：</span
        >
      </p>

      <p class="MsoNormal" style="text-indent:32.0pt;layout-grid-mode:char">
        <span style="font-size:16.0pt;font-family:仿宋">被申请人</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;color:black"
          >#（被申请人姓名）</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >应当自收到本支付令之日起十五日内，给付申请人厦门友盾科技有限公司未还代偿借款本金</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;color:black"
          >#（申请标的）</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >元及资金占用费（资金占用费以未还代偿借款本金</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;color:black"
          >#（申请标的）</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >元为基数，按年利率<span lang="EN-US">24%</span>的标准，自</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;color:black"
          >#（代偿日期）</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >起计算至实际还款之日止）。</span
        >
      </p>

      <p class="MsoNormal" style="text-indent:32.0pt;layout-grid-mode:char">
        <span style="font-size:16.0pt;font-family:仿宋"
          >申请费<span lang="EN-US">17</span>元，由被申请人</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;color:black"
          >#（被申请人姓名）</span
        ><span style="font-size:16.0pt;font-family:仿宋">负担，被申请人</span
        ><span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;color:black"
          >#（被申请人姓名）</span
        ><span style="font-size:16.0pt;font-family:仿宋"
          >应于本支付令发生法律效力后七日内向本院缴纳。本院指定收费账户：户名：厦门市海沧区人民法院，开户行：招商银行厦门海沧支行，账号：<span
            lang="EN-US"
            >5929 0283 2410 201</span
          >（缴款时应备注案号及被申请人姓名）。</span
        >
      </p>

      <p class="MsoNormal" style="text-indent:32.0pt;layout-grid-mode:char">
        <span style="font-size:16.0pt;font-family:仿宋"
          >被申请人如有异议，应当自收到本支付令之日起十五日内向本院书面提出；逾期不提出书面异议的，本支付令即发生法律效力。</span
        >
      </p>

      <p
        class="MsoNormal"
        align="right"
        style="margin-right:32.0pt;text-align:right;
text-indent:181.45pt"
      >
        <span
          lang="EN-US"
          style="font-size:16.0pt;font-family:
仿宋;color:black;vertical-align:sub"
          >&nbsp;</span
        >
      </p>

      <p
        class="MsoNormal"
        align="right"
        style="margin-right:32.0pt;text-align:right;
text-indent:181.45pt"
      >
        <span
          lang="EN-US"
          style="font-size:16.0pt;font-family:
仿宋;color:black;vertical-align:sub"
          >&nbsp;</span
        >
      </p>

      <p
        class="MsoNormal"
        align="right"
        style="margin-right:0;text-align:right;
text-indent:0;word-break:break-all"
      >
        <span
          style="font-size:16.0pt;
font-family:仿宋"
          >审　判　员　#（审判员）</span
        >
      </p>

      <p
        class="MsoNormal"
        align="right"
        style="text-align:right;text-indent:30.8pt"
      >
        <span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;letter-spacing:-.3pt"
          >&nbsp;</span
        >
      </p>

      <p
        class="MsoNormal"
        align="right"
        style="margin-right:0;text-align:right;
text-indent:0"
      >
        <span
          lang="EN-US"
          style="font-size:16.0pt;font-family:仿宋;
color:black"
          >#（支付令日期大写）</span
        >
      </p>

      <p
        class="MsoNormal"
        align="right"
        style="margin-top:14.0pt;text-align:right;
text-indent:21.0pt;line-height:2.0pt;word-break:break-all"
      >
        <span
          style="position:absolute;z-index:251659264;left:0px;margin-left:20px;
margin-top:5px;width:167px;height:31px"
        >
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <span style="position:absolute;left:0pt;z-index:2">
                  <table
                    border="1"
                    cellpadding="1"
                    cellspacing="0"
                    width="100%"
                  >
                    <tr>
                      <td>
                        <div style="padding:2.4507pt 7.95pt 2.4507pt 7.95pt">
                          <p
                            class="MsoNormal"
                            align="center"
                            style="text-align:center"
                          >
                            <span
                              style="font-size:16.0pt;font-family:宋体;color:black"
                              >本件与原本核对无异</span
                            >
                          </p>
                        </div>
                      </td>
                    </tr>
                  </table> </span
                >&nbsp;
              </td>
            </tr>
          </table> </span
        ><span
          style="font-size:16.0pt;font-family:仿宋;color:white;letter-spacing:
-.3pt"
          >（院印）<span lang="EN-US"> </span
        ></span>
      </p>

      <p
        class="MsoNormal"
        align="right"
        style="margin-right:0;text-align:right;
text-indent:0;line-height:24.0pt"
      >
        <span style="font-size:16.0pt;font-family:仿宋"
          >法 官 助 理<span lang="EN-US">　张晨玮</span
        >
      </p>

      <p
        class="MsoNormal"
        align="right"
        style="margin-right:0;text-align:right;
text-indent:0;line-height:24.0pt"
      >
        <span style="font-size:16.0pt;font-family:仿宋"
          >代 书 记 员　廖宝华</span
        >
      </p>

      <b
        ><span lang="EN-US" style="font-size:16.0pt;font-family:仿宋"
          ><br clear="all" style="page-break-before:always" /> </span
      ></b>

      <p class="MsoNormal" align="left" style="text-align:left">
        <b
          ><span style="font-size:16.0pt;font-family:仿宋"
            >附本案所适用的法律条文</span
          ></b
        >
      </p>

      <p class="MsoNormal" style="text-indent:24.0pt;line-height:24.0pt">
        <span style="font-size:16.0pt;font-family:仿宋"
          >《中华人民共和国民事诉讼法》</span
        >
      </p>

      <p class="MsoNormal" style="text-indent:32.0pt;line-height:23.0pt">
        <span style="font-size:16.0pt;font-family:仿宋">第二百一十四条</span
        ><span
          style="font-size:
16.0pt;font-family:仿宋"
        >
          债权人请求债务人给付金钱、有价证券，符合下列条件的，可以向有管辖权的基层人民法院申请支付令：</span
        >
      </p>

      <p class="MsoNormal" style="line-height:23.0pt">
        <span style="font-size:16.0pt;font-family:仿宋"
          >　　（一）债权人与债务人没有其他债务纠纷的；</span
        >
      </p>

      <p class="MsoNormal" style="line-height:23.0pt">
        <span style="font-size:16.0pt;font-family:仿宋"
          >　　（二）支付令能够送达债务人的。</span
        >
      </p>

      <p class="MsoNormal" style="line-height:23.0pt">
        <span style="font-size:16.0pt;font-family:仿宋"
          >　　申请书应当写明请求给付金钱或者有价证券的数量和所根据的事实、证据。</span
        >
      </p>

      <p class="MsoNormal" style="text-indent:32.0pt;line-height:23.0pt">
        <span style="font-size:16.0pt;font-family:仿宋">第二百一十六条　</span
        ><span
          style="font-size:
16.0pt;font-family:仿宋"
        >
        人民法院受理申请后，经审查债权人提供的事实、证据，对债权债务关系明确、合法的，应当在受理之日起十五日内向债务人发出支付令；申请不成立的，裁定予以驳回。</span
        >
      </p>

      <p class="MsoNormal" style="line-height:23.0pt">
        <span style="font-size:16.0pt;font-family:仿宋"
          >　　债务人应当自收到支付令之日起十五日内清偿债务，或者向人民法院提出书面异议。</span
        >
      </p>

      <p class="MsoNormal" style="line-height:23.0pt">
        <span
          style="font-size:16.0pt;
font-family:仿宋"
        >
        　　债务人在前款规定的期间不提出异议又不履行支付令的，债权人可以向人民法院申请执行。</span
        >
      </p>

      <p class="MsoNormal" style="line-height:23.0pt">
        <span lang="EN-US" style="font-size:16.0pt;font-family:仿宋"
          >&nbsp;</span
        >
      </p>

      <p class="MsoNormal" style="line-height:23.0pt">
        <b
          ><span
            style="font-size:16.0pt;
font-family:仿宋"
            >附联系方式</span
          ></b
        >
      </p>

      <p class="MsoNormal" style="text-indent:32.0pt;line-height:23.0pt">
        <span style="font-size:16.0pt;font-family:仿宋"
          >本院地址：福建省厦门市海沧区滨湖北路<span lang="EN-US">11</span
          >号</span
        >
      </p>

      <p class="MsoNormal" style="text-indent:32.0pt;line-height:23.0pt">
        <span style="font-size:16.0pt;font-family:仿宋"
          >联系电话：<span lang="EN-US">0592-5308703</span></span
        >
      </p>
    </div>
  </body>
</html>
